.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: auto;
    padding: 20px 40px;
}
.product{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    width: 230px;
    border-radius: 8px;
    text-align: center;
    
}
.product-image{
    height: 200px;
}
.product-image img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-details{
    margin-top: 10px;
}
.product-title{
    font-size: 1.2em;
    font-weight: 400;
    height: 10vh;
}
.product-price{
    font-size: 1.1em;
    margin-top: 5px;
    font-weight: 600;
}
.btn1{
    display: flex;
    gap: 10px;
    padding: 8px 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    
    transition: background-color 0.3s,
    color 0.3s;
    width: 100%;
    border: none;
    
    
    
}
button:hover{
    background-color: #12334a;
    color: #fff;
}
.filter{
    width: 100px;
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.filter:hover{
    background-color: black;
    color: white;
}
